<ion-header>

  <ion-navbar color="primary-dark">

    <ion-buttons start>
      <button ion-button icon-only navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Nova Notícia</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

  </ion-list>

  <ion-footer>
    <button ion-button block color="secondary" (click)="salvar()">Salvar</button>
  </ion-footer>

</ion-content>
