.ios, .md {

    page-criar-noticia {

        ion-content {
            background-color: map-get($colors , primary-light);
        }

        ion-footer button {
            margin: 0px;
        }

        ios-slide {
            width: 40% !important;
        }

    }

}

