<ion-content padding>

  <ion-list inset>
    <ion-item>
      <ion-label floating>
        Usuário
      </ion-label>
      <ion-input type="text" [(ngModel)]="credencial.usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        Senha
      </ion-label>
      <ion-input type="password" [(ngModel)]="credencial.senha"></ion-input>
    </ion-item>
    
    <ion-item>
      <button ion-button outline block (click)="login()">Entrar</button>
    </ion-item>
  </ion-list>

  <!--<div class="control-buttons">
    <div class="separator"></div>

    <button ion-button outline block (click)="signInWithFacebook()">Login com Facebook</button>
    <button ion-button outline block (click)="cadastrar()">Cadastrar-se</button>
  </div>-->
</ion-content>

<ion-footer>
  <div class="separator"></div>

  <button ion-button outline block (click)="signInWithFacebook()">Login com Facebook</button>
  <button ion-button outline block (click)="cadastrar()">Cadastrar-se</button>
</ion-footer>
