.ios, .md {
    page-login {

        ion-content {
            background: #feffff; /* Old browsers */
            background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
        }

        ion-list {
            margin: 15% 5% 15% 5%;
            background: none;

            ion-item {
                background: none;
                color: color($colors, primary);
            }

            button {
                margin: auto;
                font-size: 1.5rem !important;
            }
        }

        ion-footer {
            height: 30%;
            padding: 2rem;
        }

        .separator {
            height: 1px;
            width: 100%;
            margin-top: 5%; 
            margin-bottom: 5%;
            border-radius: 5px;
            background-color: color($colors, primary);
        }


    }
}