<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Feed" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Serviços" tabIcon="settings"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
