<ion-header>
  <ion-navbar color="primary-dark">
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item color="primary">
      <ion-thumbnail item-start>
        <img src="{{user.foto}}">
      </ion-thumbnail>
      <h2>{{user.nome}} {{user.sobrenome}}</h2>
      <p>{{user.cidade}}</p>
      <p>{{user.local}}</p>
    </ion-item>

    <ion-list-header>Informações</ion-list-header>

    <ion-card>
      <ion-card-header>Serviços</ion-card-header>
      <ion-list>
        <ion-item *ngFor="let servico of user.servicos | async">{{servico}}</ion-item>        
      </ion-list>
    </ion-card>

  </ion-list>
</ion-content>
