.ios, .md {

    page-home {

        ion-content, ion-list, ion-list-header {
            background-color: map-get($colors , primary-light);
        }

        .slide-zoom {
            margin-right: 2px;
        }

        .slide-zoom:nth-last-child() {
            margin: 0px;
        }

        ion-slide .info {
            text-align: left;
        }

        ion-card-header h2 {
            color: map-get($colors , primary);
        }

        ion-list-header {
            color: map-get($colors , secondary-dark);
            font-weight: bold;
        }

        .list-header {
            border: none;
        }

        .subsecao {
            color: map-get($colors , primary-dark);
        }

        .noticia-corpo {
            margin-top: 10px;
        }
    }

}
