<ion-header>
  <ion-navbar color="primary-dark">
    <ion-title>Feed</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>

    <!--##########################
    PROXIMOS EVENTOS
    ##########################-->

    <ion-card *ngIf="eventos.length != 0">

      <ion-card-header>
        <h2><ion-icon name="calendar"></ion-icon> Próximos eventos</h2>
      </ion-card-header>

      <ion-card-content>
        <ion-slides slidesPerView="2">
          <ion-slide *ngFor="let evento of eventos">
            <img src="{{evento}}" />
            <div class="info">
              <p>Nome do evneto e tal com tal pessoa</p>
              <p>Dia 00/00 às 00:00</p>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-card-content>

    </ion-card>

    <!--##########################
    VERSICULO DO DIA
    ##########################-->

    <ion-card>

      <ion-card-header>
        <h2><ion-icon name="calendar"></ion-icon> Vercículo do Dia</h2>
      </ion-card-header>

      <ion-card-content>
        <p>"No princípio era o Verbo, e o Verbo estava com Deus e o Verbo era Deus."</p>
        <p>Jo 1:1</p>
      </ion-card-content>

    </ion-card>

    <!--##########################
    NOTÍCIAS
    ##########################-->

    <ion-list-header *ngIf="noticias.length != 0">
    Notícias
    </ion-list-header>

    <ion-card *ngFor="let noticia of noticias | async" (click)="abrirNoticia(noticia)">

      <ion-card-header>
        <h2><ion-icon name="{{noticia.icone}}"></ion-icon> {{noticia.titulo}}</h2>
      </ion-card-header>

      <ion-card-content>
        <img *ngIf="noticia.img" src="{{noticia.img}}"/>
        <p class="noticia-corpo" >{{noticia.corpo}}</p>
      </ion-card-content>

    </ion-card>

    <!--##########################
    SERVIÇOS
    ##########################-->

    <ion-list-header *ngIf="servicos.length != 0">
    Seviços
    </ion-list-header>

    <ion-item-group *ngFor="let servico of servicos">

      <ion-list-header class="subsecao" *ngIf="servicos.length != 0">
      {{servico.nome}}
      </ion-list-header>

      <ion-card *ngFor="let noticia of servico.noticias" (click)="abrirNoticia(noticia)">

        <ion-card-header>
          <h2><ion-icon name="{{noticia.icone}}"></ion-icon> {{noticia.titulo}}</h2>
        </ion-card-header>

        <ion-card-content>
          <img *ngIf="noticia.img" src="{{noticia.img}}"/>
          <p class="noticia-corpo" >{{noticia.corpo}}</p>
        </ion-card-content>

      </ion-card>

    </ion-item-group>

  </ion-list>

</ion-content>
