<ion-list no-lines>
  <button ion-item (click)="pesquisar()">
    <ion-icon name="search"> Pesquisar</ion-icon>
  </button>
  <button ion-item (click)="criarNoticia()">
    <ion-icon name="add"> Criar Notícia</ion-icon>        
  </button>
</ion-list>