<ion-header>
  <ion-navbar color="primary-drak">
    <ion-title>Notícia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <img *ngIf="noticia.img" src="{{noticia.img}}" />
  </div>
  <h2>{{noticia.titulo}}</h2>
  <p class="data">{{dateToString(noticia.data)}}</p>

  <p class="corpo">{{noticia.corpo}}</p>
</ion-content>
