.ios, .md {
    page-noticia {

        img {
            margin: auto;
            width: 100%;
        }

        .data {
            color: #777;
            font-size: 1.2rem;
        }

        .corpo {
            margin-top: 20px;
        }

    }
}
